services:
  postgres:
    image: postgres:16
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgres
    ports:
      - "127.0.0.1:5432:5432"  # Restrict access to localhost
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
